* {
  margin: 0;
  padding: 0;
  color: white;
}

body {
  background-color: rgb(34, 32, 32);
}

body {
  width: 100vw;
}

.hd-1 {
  background-color: black;
  width: 100vw;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 0 25px 0 gray;
}

.logo {
  width: 110px;
  margin-left: 60px;
  vertical-align: middle;
}

.nav-1 {
  /* background-color: rgb(223, 138, 84); */
  display: inline-block;
  vertical-align: middle;
  position: relative;
  left: 350px;
}

.nav-1 li {
  display: inline-block;
  margin-left: 40px;
}

.nav-1 a {
  color: white;
  font-weight: 600;
  text-decoration-line: none;
  font-size: 19px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 3px;


}

.nav-1 a:hover {
  color: rgb(207, 88, 13);
  background-color: white;
  border-radius: 3px;
  text-shadow: white 0 0 5px;
}


.profile-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 100px 10%;
  gap: 40px;
  flex-wrap: wrap;
}

.profile-text {
  max-width: 600px;
}

.name-1 {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.description {
  font-size: 18px;
  color: white;
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact-btn {
  background-color: #838d8a;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
  transition: 0.3s;
}

.contact-btn:hover {
  background: linear-gradient(90deg, #17c1b8, #1da1f2);
}

.profile-pic img {
  width: 250px;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.profile-pic img:hover {
  transform: translate(0, -10px) scale(1.1);
}

.heading-1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-line: underline;
  text-decoration-color: rgb(65, 159, 190);
  text-decoration-thickness: 4px;
  text-underline-offset: 12px;
}

.about-me {
  font-size: 17px;
  color: white;
  line-height: 1.6;
  margin-bottom: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-indent: 60px;
  margin-top: 40px;

}

.about-section {
  margin: 90px;
  word-wrap: break-word;
  text-align: justify;
}

.heading-2 {
  margin-top: 100px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-line: underline;
  text-decoration-color: rgb(65, 159, 190);
  text-decoration-thickness: 4px;
  text-underline-offset: 12px;
}

.projects-section {
  margin: 90px;
}

.project {
  display: grid;
  grid-template-rows: auto auto auto;
}

.project .pr-1,
.pr-2,
.pr-3,
.pr-4,
.pr-5 {
  border-bottom: 2px solid white;
  column-gap: 15px;
  width: 80vw;
  /* height:100px; */
  margin: 10px;
}

.pr-1-p,
.pr-2-p,
.pr-3-p,
.pr-4-p,
.pr-5-p {
  width: 65vw;
  text-shadow:
     -0.2px -0.2px 0 orangered,
     0.2px -0.2px 0 orangered,
    -0.2px  0.2px 0 white,
     0.2px  0.2px 0 white;
  display: inline-block;
  background: linear-gradient(to right, #11998e, #38ef7d, #00c9ff, #92fe9db8, #ffffff3d, #ffffff1a, #ffffff00);
}

.project i {
  /* background-color:white; */
  padding: 3px;
  border-radius: 50%;
  color: black;
}

.pr-list-info {
  margin-top: 25px;
  margin-left: 80px;
}

.pr-list-info li {
  padding: 4px;
  /* background-color: black; */
}

.image-section-1,
.image-section-2,
.image-section-3,
.image-section-4,
.image-section-5 {
  position: relative;
  width: 800px;
  height: 350px;
  margin: 50px auto;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.image-section-1 img,
.image-section-2 img,
.image-section-3 img,
.image-section-4 img,
.image-section-5 img {
  position: absolute;
  width: 800px;
  height: auto;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.image-section-1 img.active,
.image-section-2 img.active,
.image-section-3 img.active,
.image-section-4 img.active,
.image-section-5 img.active {
  opacity: 1;
}
.info-div{
  display: inline-block;
}
.more-info{
  display: inline-block;
  /* margin:50px; */
  color: black;
  padding: 3px;
  font-size: 15px;
  border-radius: 8px;
   font-weight: 600;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* background-color:whitesmoke; */
  /* background-color: antiquewhite; */
    background: linear-gradient(to right, #38ef7d, #00c9ff);
    transition: transform 0.30s;
  }
.more-info:hover{
  transform: scale(1.05);
}
  .agri-info{
    display: none;
  }
  .apple-info{
    display: none;
  }
  .estate-info{
    display: none;
  }
   .meeshow-info{
    display: none;
  }
   .grocery-info{
    display: none;
  }
  

  .technology{
    margin-top: 15px;
    margin-left: 70px;
    display: inline-block;
    /* margin-bottom: 5px; */
    font-size: 12px;
    font-family: cursive;
  }
  .tech-p{
    display: inline-block;
  }
  .tech-btn{
    display: inline-block;
    background-color: silver;
    font-size: 12px;
    font-family: cursive;
    /* color:red; */
    color: black;
    border: none;
    border-radius: 5px;
    padding: 2px;
    /* border: 1px white solid; */
     text-shadow:
     -0.2px -0.2px 0 white,
     0.2px -0.2px 0 black,
    -0.2px  0.2px 0 white,
     0.2px  0.2px 0 black;
  }
/* .tech-btn-fr{
  background-color: #92fe9db8;
  color: #ad2133;
  background-color: silver;
}
.tech-btn-bk{
  background-color: #38ef7d;
}
.tech-btn-lb{
  background-color: #00c9ff;
}
.tech-btn-db{
  background-color: #11998e;
}   */

.heading-3 {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  /* color: #1a2e4b; */
  color: white;
  margin-bottom: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration-line: underline;
  text-decoration-color: rgb(65, 159, 190);
  text-decoration-thickness: 4px;
  text-underline-offset: 12px;
}

.skill-section {
  margin: 200px;
  margin-top:150px;
}

.skill-chart-list {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.d1 {
  display: inline-block;
  vertical-align: middle;
}

.d1-loader1 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 98%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.d1-loader2 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 80%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.d1-loader3 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 75%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.d1-loader4 {
  display: inline-block;
  width: 40vw;
  height: 25px;
  background: linear-gradient(to right, rgb(169, 17, 62) 50%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.d1-loader5 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 10%, white 50%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.d1-loader6 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 10%, white 50%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.d1-loader7 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 10%, white 50%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.skill-percentage {
  background-color: rgb(159, 31, 65);
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  padding: 2px;
}

.b1-loader1 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 98%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.b1-loader2 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 95%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.b1-loader3 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 85%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.b1-loader4 {
  display: inline-block;
  width: 40vw;
  height: 25px;
  background: linear-gradient(to right, rgb(169, 17, 62) 70%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.b1-loader5 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 85%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.b1-loader6 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 25%, white 40%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.b1-loader7 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 10%, white 20%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.b1-loader8 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 10%, white 20%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.db1-loader1 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 75%, white, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.db1-loader2 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 5%, white 10%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.db1-loader3 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 5%, white 10%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.db1-loader4 {
  display: inline-block;
  width: 40vw;
  height: 25px;
  background: linear-gradient(to right, rgb(169, 17, 62) 5%, white 10%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}

.db1-loader5 {
  display: inline-block;
  width: 40vw;
  height: 20px;
  background: linear-gradient(to right, rgb(169, 17, 62) 5%, white 10%, white);
  vertical-align: middle;
  margin-left: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  /* border: 1.5px solid #0e0017; */
}


.bp-section {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  background: #fff;
}

.bp-title {
  text-align: left;
  /* margin-left: 100px; */
  font-size: 26px;
  margin-bottom: 50px;
  margin-top: 150px;
}

.bp-title span {
  color: red;
}

.bp-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.bp-card {
  display: flex;
  align-items: center;
  background: #f2efef;
  padding: 20px;
  border-radius: 8px;
  width: 23%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-width: 500px;
  transition: transform 0.3s;
}

.bp-card:hover {
  transform: scale(1.03);
}

.bp-arrow {
  min-width: 50px;
  min-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 15px;
  text-align: center;
  clip-path: polygon(0 0, 80% 0, 100% 50%, 80% 100%, 0 100%, 10% 50%);
  margin-right: 20px;
}

.bp-arrow i {
  margin-top: 10px;
}

.bp-a {
  background-color: #e74c3c;
}

.bp-b {
  background-color: #e67e22;
}

.bp-c {
  background-color: #f39c12;
}

.bp-d {
  background-color: #27ae60;
}

.bp-content h3 {
  margin: 0;
  font-size: 18px;
  color: black;
}

.bp-content p {
  margin: 5px 0 0;
  font-size: 14px;
  color: #555;
}

@media (max-width: 1024px) {
  .bp-card {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .bp-card {
    width: 100%;
  }
}

 